{% include head.html %}
<section class="article">
<a href="http://www.oceanshipgames.com/" title="Home"><div class="head-image" style="background-image: url({{ site.url }}/images/sitelogo.png)"></div>
<a href="http://www.oceanshipgames.com/articles/whistly-bird/" title="Whistly Bird"><div class="featured-image" style="background-image: url({{ site.url }}/images/wb.png)"></div></a>
<a href="http://www.oceanshipgames.com/articles/true-cube/" title="True Cube"><div class="featured-image" style="background-image: url({{ site.url }}/images/tc.png)"></div></a>
<a href="http://www.oceanshipgames.com/articles/patchwack/" title="Patchwack"><div class="featured-image" style="background-image: url({{ site.url }}/images/pw_logo2.png)"></div></a>   
</section>
{% include footer.html %}